name: GitHub Actions
run-name: Github Actions
on: [push]
jobs:
  GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: check the files
        run: ls -ltra